.CFUserTextEncoding
.DS_Store
.DownloadManager/
.RData
.Rapp.history
.Rhistory
.Trash/
.aderc
.adobe
.ano
.anyconnect
.apdisk
.bash_history
.bash_profile
.bash_profile.pysave
.bashrc
.basilisk_ii_xpram
.bfglGovernorofPoker/
.config/
.cshrc.pysave
.cups/
.docker/
.dropbox/
.dvdcss/
.fontconfig/
.gdb_history
.gem/
.gemrc
.gitconfig
.gnupg/
.hgignore_global
.history
.hushlogin
.idlerc/
.irb_history
.itmstransporter/
.lesshst
.mysql_history
.nds/
.oracle_jre_usage/
.prism/
.profile
.putty/
.python_history
.rnd
.rvm/
.sh_history
.sheepshaver_nvram
.sheepshaver_prefs
.sqlite_history
.ssh/
.stCommitMsg
.subversion/
.vim/
.viminf*
.viminfo
.vimrc
.vinevncauth
.vnc/
.zlogin
.zprofile
.zshrc
Add_MSI_run_as_administrator.reg
AdobeLicensingFilesBackup/
Applications/
Audiobooks/
Backups/
Creative Cloud Files/
Desktop/
Documents/
Downloads
Downloads/
Dropbox/
GitHub/
Kellie Belle.dmg
Library/
Movies/
Music
Music/
Network Trash Folder/
Nintendo64/
OneDrive/
Pictures
Pictures/
Projects/
Public/
Samples/
Scripts/
Sites/
Sounds/
Systems/
VirtualBox VMs/
Work/
Youtube/
f.f
fonts/
iCloud Drive (Archive) - 1/
iCloud Drive (Archive)/
icons/
users.xml
xcode.dif
